@font-face {
    font-family: "OpenSans500";
    src: url(../../assets/fonts/OpenSans-Medium.ttf);
}

@font-face {
    font-family: "OpenSans400";
    src: url(../../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu700";
    src: url(../../assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: "Ubuntu500";
    src: url(../../assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: "Ubuntu400";
    src: url(../../assets/fonts/Ubuntu-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');